
.sponsor-container {
    background: #123041;
    font-family: "Proxima Nova";
    width: 100%;
    max-width: 100%;
    margin: 0rem; 
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.numbers-words-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-left: 12rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.number-word-pair {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 1rem; 
    margin-right: 11rem;
}

.number {
    color: #F4F4F4;
    font-family: "Proxima Nova";
    font-size: 4rem;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 0.08rem;
    text-transform: lowercase;
    margin-right: 0.5rem; /* Space between the number and the word */
}

.word {
    color: #F4F4F4;
    font-family: "Proxima Nova";
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1; /* Tight line height */
    letter-spacing: 0.035rem;
    text-transform: lowercase;
}

.button {
    display: flex;
    width: 21.375rem;
    height: 3rem;
    padding: 0.75rem 4.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: #FFC53D;
    position: absolute;
    bottom: 14rem;
    left: 11rem;
}

.button-words{
    color: #123041;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0225rem;
    background: #FFC53D; 
}

.cow_duck {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%); 
    width: 24.0625rem;
    height: 11.28394rem;
    justify-content: center;
    align-items: center;
    margin-left: 3.57rem;
}

.carouselContainer {
    position: absolute;
    perspective: 1000px;
  }
  
.card {
    position: absolute;
    top: 10%;
    bottom: auto;
    left: 60%;
    width: 50rem;
    height: 37.5rem;
    transform-style: preserve-3d;
    transition: transform 0.5s, z-index 0s; 
    flex-shrink: 0;
    transform: translateX(-50%); 
    z-index: 10; 
}

.frame {
    position: absolute;
    top: 10%;
    bottom: auto;
    left: 160%;
    width: 23.875rem;
    height: 24.75rem;
    transform-style: preserve-3d;
    transition: transform 0.5s, z-index 0s; 
    flex-shrink: 0;
    transform: translateX(-50%); 
    z-index: 10; 
    border: 1px solid #FFF;
}


  
.card:nth-child(1), .card:nth-child(2), .card:nth-child(3), .card:nth-child(4), .card:nth-child(5) {
    transform: translateX(-50%) translateY(12%); /* Base transform */
    z-index: auto; /* Default stacking order */
}

.card:nth-child(1) { z-index: 10; } /* Highest stack for first card */
.card:nth-child(2) { transform: translateX(-50%) translateY(12%) rotate(5deg); z-index: 9; }
.card:nth-child(3) { transform: translateX(-50%) translateY(12%) rotate(7deg); z-index: 8; }
.card:nth-child(4) { transform: translateX(-50%) translateY(12%) rotate(15deg); z-index: 7; }
.card:nth-child(5) { transform: translateX(-50%) translateY(12%) rotate(20deg); z-index: 6; }

.card:hover {
    transform: translateX(-50%) translateY(15%) rotate(0deg) scale(1.05); /* Scale up and adjust position on hover */
    z-index: 20; /* Bring to top on hover */
}

.button {
    position: absolute;
    bottom: 20px;
    left: 25%;
    top: 65%;
    transform: translateX(-50%); }