@use 'app/(pages)/_globals/mixins'; 

$bg-color: var(--landing-bg);
$mobile-breakpoint: 648px;
$tablet-breakpoint: 1007px;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    width: 100%;
    overflow: hidden; 
}

.cloud_back{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    &_left{
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: absolute;   
    }

    &_right{
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: relative;
    }

}
.cloud_front{
    display: flex;
    position: absolute;
    width: 100%;
    overflow: hidden;

    &_left{
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: absolute;   
        animation: moveInFromLeft 2s ease-in forwards;
    }

    &_right{
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: relative;
        animation: moveInFromRight 2s ease-in forwards;
    }
}

.clouds{
    &_image{
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}


@media (max-width: $tablet-breakpoint){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-width: $tablet-breakpoint;

    } 
    .cloud_back{
        min-width: $tablet-breakpoint;
    }
    .cloud_front{
        min-width: $tablet-breakpoint;
    }
}

@media (max-width: $mobile-breakpoint) {
    .container{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         height: 700px;
         padding-top: 200px;
    } 
 }


 @keyframes moveInFromLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
 }
 @keyframes moveInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
 }

 @keyframes floatSideToSide{
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-10px);
    }
 }
 
.cloud_front{
   animation: floatSideToSide 15s ease-in-out infinite;
}
.cloud_back{
   animation: floatSideToSide 10s ease-in-out infinite;
}