.background-container{
    display: flex; // Use flex display
    flex-direction: column; // Stack children vertically
    //justify-content: left; // Center children vertically in the container
    //align-items: left; // Center children horizontally in the container
    //text-align: left; // Center text for inline or inline-block elements
    background: var(--gradient, linear-gradient(180deg, #347162 0%, #122537 52.99%)); 
    font-family: "Proxima Nova";
    width: 100%; /* Use full width of the viewport */
    max-width: 100%; /* Set a max-width if necessary */
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh; /* Height can be auto to adjust to content */
    position: relative;
    overflow: hidden;
}


.FAQ{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16rem;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 89px;
}

.hackathon{
    padding-left: 10%;
    padding-right: 10%;
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    margin-bottom: 8px;
}

.explanation{
    padding-left: 10%;
    padding-right: 10%;
    //max-width: 73.0625rem;
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.03rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.stroke{
    stroke-width: 1px;
    stroke: #FFF;
    display: flex;
    width: 73.0625rem;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.questions{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    margin-bottom: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
}

.h{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    display: inline-flex; /* Makes the UL element display inline */
    list-style-type: none; /* Removes bullet points */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    gap: 5px; /* Adds a small gap between list items */
}
.and{
    text-decoration: none !important;
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.48px;
    display: inline-flex; /* Makes the UL element display inline */
    list-style-type: none; /* Removes bullet points */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    gap: 5px; /* Adds a small gap between list items */
  }