@use 'app/(pages)/_globals/mixins';

.container {
    width: 40%;
    min-width: 224px;
    height: min-content;
    margin-bottom: -30%;
    position: relative;
}

.right_tree {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
}

  


.right_tree_shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -10%;
    right: 0;
    z-index: 2;
}

.right_tree_reflection {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -20%;
    right: 0;
    z-index: 1;
}