@use 'app/(pages)/_globals/mixins';
$big-tablet-breakpoint: 1024px;
$mobile-breakpoint: 758px;

.hello-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFF;
    font-family: "Metropolis", sans-serif;
    padding: 5%;
    padding-bottom: 10%;

    @media (max-width: $big-tablet-breakpoint) {
        padding: 10%;
    }
}

.content {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 2fr;
    gap: 32px;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;

    @media (max-width: $big-tablet-breakpoint) {
        grid-template-columns: 1fr 1fr; // Switch to two columns
        grid-template-rows: 1fr 1fr;
    }

    @media (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr; // Back to one column for mobile
        grid-template-rows: 1fr 2fr 2fr 2fr;
        width: min-content; // Adjust width for mobile
        margin: 0;
    }
}

.header {
    grid-column: 1/-1; 
    font-family: "Metropolis", sans-serif;

    @media (max-width: $big-tablet-breakpoint) {
        grid-row: 1;
        grid-column: 1;
        text-align: left;
        width: 300px;
        // border: 1px solid black; 
    } 
}

.tiles {
    display: contents; 

    .tile:nth-child(1) {
        background: #9EE7E5;
    }

    .tile:nth-child(2) {
        background: #C2E567;
    }

    .tile:nth-child(3) {
        background: #FFC5AB;
    }

}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 342px;
    width: 342px;
    padding: 32px 32px 0px 32px;
    flex-shrink: 0;
    border-radius: 10px;

    >div>h1 {
        color: #123041;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-bottom: 16px;
    }

    >div>p {
        color: #000;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.32px;
    }

    .image {
        display: flex;
        align-self: center;
        width: 70%;
    }

}
