@use 'app/(pages)/_globals/mixins';
$mobile-breakpoint: 425px;
$tablet-breakpoint: 768px;

.hello_container{
    background: #60C0D9;
    width: 100%; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 48%;
    height: 80vh;
}

.title{
    // border: 1px solid black; 
    display: flex;
    flex-direction: column;
    width: 90vw;
    z-index: 1;
    padding-left: 12%;
    padding-right: 48%;


    @media (max-width: $tablet-breakpoint) {
        margin-top: 10%;
        width: 75vw;

    }
    
    h1{
        color: #FFF;
        font-family: Metropolis;
        font-size: 110.095px;
        font-style: normal;
        font-weight: 700;
        line-height: 111.5%; /* 122.755px */
        letter-spacing: 2.202px;

        @media (max-width: $tablet-breakpoint) {
            font-size: 48px;
        }
    }
    p{
        color: #FFF;
        font-family: Metropolis;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 42px */
        letter-spacing: 0.56px;

        @media (max-width: $tablet-breakpoint) {
            font-size: 32px;
        }
    }
}

.banner{
    &_image{
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: -1%;
    }
}

.cloudRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 57%;
    z-index: 0;
}
.cloud2 {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 57%;
    z-index: 0;
}

.frontGrass {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 60%;
}

.midGrass {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 40%;
}

.transLogo {
    position: absolute;
    z-index: 3;
    right: 27%;
    top: 30%;
    width: 24%;
}

.frog {
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 35%;
    width: 12%;
}

.charStack {
    position: absolute;
    z-index: 4;
    top: 20%;
    right: 8%;
    width: 27%;
}

@media (max-width: $mobile-breakpoint) {
    .hello_container {
        position: relative;
        width: 100vw;
        height: 67vh;
    }

    .title{
        width: 90vw;
        text-align: center;
        padding-left: 0;
        padding-right: 0; 
        margin-top: -65%;

        h1{
            color: #FFF;
            font-family: Metropolis;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 111.5%; /* 66.9px */
            letter-spacing: 1.2px;
        }
        p{
            color: #FFF;

            text-align: center;
            font-family: Metropolis;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 21px */
            letter-spacing: 0.28px;
        }
    }

    .cloudRight {
        position: absolute;
        top: 40%;
        right: 0%;
        width: 57%;
        z-index: 0;
    }

    .cloudLeft {
        position: absolute;
        top: 35%;
        left: 0%;
        width: 57%;
        z-index: 0;
    }
    
    .frontGrass {
        position: absolute;
        z-index: 5;
        top: 73%;
        left: -50%;
        width: 900px;
        max-width: 1000px;
    }
    
    .midGrass {
        position: absolute;
        z-index: 2;
        left: -50%;
        top: 50%;
        width: 900px;
        max-width: 1000px;
    }
    
    .transLogo {
        position: absolute;
        z-index: 3;
        right: 44%;
        top: 45%;
        width: 70%;
    }
    
    .frog {
        position: absolute;
        z-index: 2;
        top: 0%;
        right: 15%;
        width: 38%;
    }
    
    .charStack {
        position: absolute;
        z-index: 4;
        top: 33%;
        right: 0%;
        width: 78%;
    }
    
}