
.hello-container {
    background: #FFF;
    color: #123041;
    font-family: "Metropolis";
    width: 100%;
    max-width: 100%;
    margin: 0; 
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; /* This will center the child vertically */
    justify-content: center; /* This will center the child horizontally */
}


.h1 {
    display: flex;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.06rem;
    margin-top: -30%;
    margin-left: 400px; 
    margin-right:-7%;
    white-space: nowrap;
}


.tiles {
    width: 21.375rem;
    height: 21.375rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center; 
    margin-right: 50%; 
}


.inclusivity {
    width: 21.375rem;
    height: 21.375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #9EE7E5;
    position: relative;
}

.inclusivity_title {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 11.9375rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
}

.inclusivity_text {
    //width: 17.375rem;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.inclusivity_cow {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}


.Handson {
    width: 21.375rem;
    height: 21.375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #C2E567;
    position: relative;
}

.Handson_title {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 15.6875rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
}

.Handson_text {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.Handson_froggy {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}


.Impactful {
    width: 21.375rem;
    height: 21.375rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFC5AB;
    position: relative;
}

.Impactful_title {
    color: #123041;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 15.6875rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
}

.Impactful_text {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.Impactful_bunny {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
@media only screen and (max-width: 768px) {
    .hello-container{
        min-height: 190vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .h1 {
        color: #123041;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
        margin-top: -1850px;
        margin-left: -48%;
        width: 300px;
        padding-left: 1%;
        text-align: left; 

    }

    .tiles {
        display: flex;
        flex-direction: column; 
        gap: 1rem;
        padding-left: 30%;
        position: absolute;
        transform: translateX(7%);
        width: 70%;

    }

    .inclusivity, .Handson, .Impactful {
        width: 180% !important;
        height: 490px;
        border-radius: 0.625rem;
        margin-bottom: 3rem;
    }

    .inclusivity_title, .Handson_title, .Impactful_title {
        font-size: 2rem; 
        margin-left: 1rem; 
        margin-right: 0; 
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03rem;
        white-space: nowrap;

    }

    .inclusivity_text, .Handson_text, .Impactful_text {
        font-size: 0.875rem; 
        margin: 1rem; 
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.02rem;
    }

}
