@use 'app/(pages)/_globals/mixins';

$nav-height: 114px;

.container {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .navbar {
        width: 100%;
        height: $nav-height;
        padding: 0 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 0;

        .links {
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: center;

            @include mixins.phone {
                display: none;
            }
            
            .logo {
                height: 44%;
                width: auto;
            }

            .rectangles {
                display: flex;
                flex-direction: row;
                gap: 24px;
                height: 35%;

                >div {
                    height: 100%;
                    border-radius: 4px;
                    background-color: var(--loader-gray);
                }

                :nth-child(1) {
                    aspect-ratio: 3;
                }

                :nth-child(2) {
                    aspect-ratio: 2.8;
                }

                :nth-child(3) {
                    aspect-ratio: 1.8;
                }

                :nth-child(4) {
                    aspect-ratio: 2.8;
                    @include mixins.tablet {
                        display: none;
                    }
                }
            }
        }

        .mlh {
            .mlh_image {
                height: 130px;
                width: auto;
            }
        }

        .mobile_menu {
            display: none;
            @include mixins.phone {
                display: block;
                height: 35%;
                align-self: center;
            }
        }
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 180px;
        padding-right: 90px;
        padding-bottom: 20%;
        width: 100%;
        max-width: 800px;
        gap: 56px;
        flex-grow: 1;

        @include mixins.phone {
            top: 40%;
        }

        @include mixins.phone {
            left: 0;
            right: 0;
            padding: 48px;
            max-width: none;
            align-items: center;
        }


        >div {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            @include mixins.phone {
                align-items: center;
            }
        }

        >div>div {
            background-color: var(--loader-gray);
            border-radius: 4px;
            width: 100%;
        }

        .main_text {
            :nth-child(1) {
                height: 2rem;
                aspect-ratio: 1;
                width: 90%;

            }
            :nth-child(2) {
                height: 3rem;
                @include mixins.phone {
                    width: 100%;
                }
            }
        }

        .secondary_text {
            :nth-child(1) {
                height: 1.75rem;
                aspect-ratio: 1;
                @include mixins.phone {
                    width: 90%;
                }
            }
            :nth-child(2) {
                height: 1.75rem;
                width: 90%;
                @include mixins.phone {
                    width: 100%;
                }
            }
        }

        .buttons {
            width: 70%;
            @include mixins.phone {
                width: 100%;
            }
            :nth-child(1) {
                height: 3rem;
                border-radius: 100px;
            }
            :nth-child(2) {
                height: 3rem;
                border-radius: 100px;
            }
        }
    }
}