@use 'app/(pages)/_globals/mixins';
$bg-color: var(--landing-bg);
$mobile-breakpoint: 648px;
$tablet-breakpoint: 1007px;

.clouds{
  position: relative;
  z-index: 1;
}

.grass{
  position: relative;
  z-index: 2;
  // margin-top: -280px;
  margin-top: -13vw;
}

.form{
  position: absolute;
  z-index: 13;
  // top: 105px;
  top: 10%;
  left: 10%;
}

.landing_container{
  width: 100%;
  position: relative;
  overflow: hidden;

}
@media (max-width: $tablet-breakpoint) {
  .grass{
    margin-top: calc(-280px + 10vw);
  }
}

@media (max-width: $mobile-breakpoint) {

  .landing_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form{
    left: 50%;
    top: 25%;

    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}