
.container {
    background-color: white;
    position: relative;
    overflow: hidden;

    .text {
        display: flex;
        flex-direction: column;
        padding-left: 10%;

        .heading{
            color: #000;
            width: 46%;
            font-family: "Proxima Nova";
            font-size: 6rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.92px;
            padding-bottom: 2%;
        }
        .paragraph {
            width: 40%;
            color: #000;
            font-family: "Proxima Nova";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 36px */
            letter-spacing: 0.48px;
        }
    }
    .logStuff {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .logLeftSection {
            width: 41%;
            .logLeft {
                position:relative;
                width: 100%;
                height: auto;
                z-index: 10;
                margin-left: -10%;
            }
        }
    
        .logRightSection {
            display: flex;
            position: absolute;
            right: 0;
            margin-top: 8%;
            width: 87%;
    
            .logLayer0 {
                width: 65%; 
                height: auto;
                position: absolute;
                z-index: 0;
                bottom: 29%; 
                left: 12%;
            }
    
            .logLayer1Left {
                width: 35.5%; 
                height: auto;
                position: absolute;
                z-index: 5;
                bottom: 33%; 
                left: 6%;
            }
    
            .logLayer2Left {
                width: 33.5%; 
                height: auto;
                position: absolute;
                z-index: 6;
                top: 5%; 
                left: 6.5%;
            }
    
            .logRight {
                width: 100%; 
                height: auto;
                z-index: 9;
            }
    
            .logLayer1Right {
                width: 57%; 
                height: auto;
                position: absolute;
                z-index: 5;
                bottom: 29%; 
                right: 0.5%;
            }
            .logLayer2Right {
                width: 38.5%; 
                height: auto;
                position: absolute;
                z-index: 6;
                bottom: 20%;
                right: 18.5%;
            }
    
            .logRabbit {
                position: absolute;
                width: 11%;
                height: auto;
                bottom: 76%; 
                left: 44%;
                z-index: 7;
            }
    
            .logFrog {
                position: absolute;
                width: 9.5%;
                height: auto;
                bottom: 80%; 
                left: 35%;
                z-index: 7;
            }
            .logGingko {
                width: 34%; 
                height: auto;
                position: absolute;
                z-index: 8;
                bottom: 58%; 
                right: 16%;
            }
        }
        .logWaterSheen {
            position: relative;
            width: 100%; 
            height: auto;
            z-index: 0;
            margin-top: -16%;
        }
    }

}

@keyframes rotate {
    0% {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    50% {
      transform: rotate(5deg); /* Rotate 5 degrees clockwise */
    }
    100% {
      transform: rotate(0deg); /* Return to 0 degrees */
    }
  }


@media (max-width: 1024px) {
    .container {
        .text {
            display: flex;
            flex-direction: column;
            padding-left: 10%;

            .heading{
                font-size: 3rem;
            }
            .paragraph {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 960px) {
    .container {
        .text {
            .heading{
                font-size: 2.81rem;
            }
            .paragraph {
                font-size: 0.94rem;
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        .text {
            display: flex;
            .heading{
                font-size: 2rem;
                width: 295px;
                letter-spacing: 0.64px;
            }
            .paragraph {
                font-size: 1rem;
                width: 311px;
                letter-spacing: 0.32px;
            }
        }
    }
}

