@use 'app/(pages)/_globals/mixins';
$bg-color: var(--landing-bg);
$mobile-breakpoint: 648px;

.container{
    position: absolute;
    width: 100%; 
    display: flex;
    z-index: 100;
    // border: 1px solid black;  
    
}
.nav {
    display: flex;
    padding: 2rem;
    padding-top: 2rem;
    gap: 1.5rem;
    background-color: transparent;
    position: relative; // Added for positioning the menu icon
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; // Ensure this is flex to align items horizontally on desktop
    flex-direction: row; // Default direction for desktop
}

.nav li {
    display: inline-block;
}


.logo{
    width: 3.125rem;
    height: 3.13269rem;
}


.words {
    display: flex; // Default display on larger screens
    gap: 1.5rem;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.025rem;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    transition: text-decoration 0.2s; 
    font-family: 'Proxima Nova', sans-serif;
}

.words:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.menuIcon {
    display: none; // By default, the menu icon is not displayed
}

.navLink:hover, .navLink:focus{
    text-decoration: underline; // Add underline on hover/focus
}

.mlhBadge{
    width: 4.31613rem;
    height: 8.12475rem;
    flex-shrink: 0;
    top:0;
    right: 0;
    margin-right: 2rem;
    position: absolute;
    z-index: 10;
}

@media (max-width: $mobile-breakpoint) {
    .nav{
        padding-top: 0;
    }
    .navLink{
        display: none; // Hide the links by default on mobile
    }
    .menuIcon {
        display: block; // Show the menu icon on smaller screens
        position: absolute;
        right: 2rem;
        top: 2rem;
        cursor: pointer;
    }

    .words {
        display: none; // Hide the words by default on mobile
        flex-direction: column; // Stack the links vertically on mobile
        position: absolute;
        top: 100%; // Position the menu below the navbar
        right: 0;
        background-color: $bg-color; // Ensure the background matches
        width: 100%; // Full width to cover the screen
    }

    .words.active {
        display: flex; // Display the menu when active
    }

    .mlhBadge{
        position: relative;
        width: 70px;
        height: 130px;
    }
    .logo{
        display: none;   
    }

    .logo.active{
        display: flex; // Display the logo when active
    }
}

.words-item {
    display: flex; // Adjust display for individual items if necessary
}

// Include other styles as necessary
