.hello-container{
    background: var(--gradient, linear-gradient(284deg, #FCFCD1 9.72%, #B2E7DD 44.61%, #76D6E6 79.5%));
    color: #005271;
<<<<<<< HEAD
    font-family: "Proxima Nova";
    width: 100%; 
    max-width: 100%; 
=======
    font-family: "Metropolis";
    width: 100%; /* Use full width of the viewport */
    max-width: 100%; /* Set a max-width if necessary */
>>>>>>> 12a111294ca6040282aa2acac6b964dda64fbfa4
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh; 
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.h1{
    place-content: center;
    color: var(--teal-1, #005271);
    text-align: center;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.09rem;
    margin: 0 0 3rem;
    margin-top: -30%;
}
.P{
    display: flex;
    justify-content: center;
    width: 58rem;
    flex-shrink: 0;
    color: var(--teal-1, #005271);
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 0.05rem;
}
.banner-image img{
    display: flex;
    width: 60rem;
    height: auto;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
}

@media (max-width: 768px) {
    .hello-container {
        min-height: 80vh;
    }

    .h1 {
        width: 600px;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; 
        letter-spacing: 0.96px;
        padding-left: 7%;
        text-align: left; 
        margin-left: 0;
        padding-top: 20%;
    }

    .P {
        width: 600px;
        padding-left: 5%;
        text-align: left; /* Aligns the text to the left */
        margin-left: 0;
        //width: 100%; /* Make the width 100% to use the full width of the screen */
        padding: 0;
        padding-left: 7%;
        font-size: 2rem; /* Decrease font size for readability on small screens */
        font-weight: 500;
    }

    .banner-image img {
        width: 90%; /* Full width */
        height: auto; /* Maintain aspect ratio */
        padding-top: 5%; /* Adjust padding */
        position: absolute;
        bottom: 0;
        //left: 0;
        //right: 0;
        transform: translateX(7%);
    }
}





