.carousel__viewport {
    padding-left: 12%;
    padding-top: 10%;
    padding-bottom: 60px;
    width: 100%;

    .carousel__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y;

        .carousel__slide {
            flex: 0 0 var(--slide-size);
            min-width: 290px;
            padding-left: 0;
        }
    }
}