@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    background: #FFF;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 556px;
    gap: 60px;

    .topLine {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 75vw;

        .text {
            color: #123041;
            font-family: "Proxima Nova";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.96px;
            width: 598px;
        }
        .arrowContainer {
            display: flex;
            flex-direction: row;
            width: 120px;
            height: 48px;
            flex-shrink: 0;
            justify-content: space-between;
        }
    }
    .carousel {
        display: flex;
        width: 75vw;
    }
    .folder {
        transition: transform 0.5s ease;
        margin-right: 32px;
        user-select: none; // prevents the folders from getting highlighted on double click
    }

    .bar {
        width: 75vw;
        max-width: 1080px;
        height: 6px;
        background:  #B3B3B3;
        border-radius: 10px;
    }

    .progress {
        width: 13vw;
        max-width: 187px;
        height: 6px;
        background:  #005271;
        border-radius: 10px;
        position: absolute;
        transition: transform 0.5s ease;
    }
    .mobileProgressBar {
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 22px;

        .bar {
            width: 53vw;
        }
    }
}


@media only screen and (max-width: 768px) {
    .container {
        height: 650px;

        .topLine {
            .arrowContainer {
                display: none;
            }
            .text {
                width: 311px;
                height: 96px;
                text-wrap: wrap;

                color: #123041;
                font-family: "Proxima Nova";
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.96px;
            }
        }
        .bar {
            display: none;
        }

        .mobileProgressBar {
            display: flex;
            .bar {
                display: flex;
            }
            .progress {
                width: 7vw;
            }
        }
    }
  }