.container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #347163 0%, #122537 92.85%);
    justify-content: space-evenly;
    align-items: center;

    .polaroids {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .polaroids {
            align-self: inherit;
        }
    }
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        
        .polaroids {
            align-self: inherit;
        }
    }
}