.container {
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
    justify-content: space-around;

    .allPolaroids {
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70%;
        margin-bottom: 10px;

        .backPolaroid {
            width: 21vw; 
            max-width: 570px;
            height: auto; 
            z-index: 0;
            // transform: rotate(7.1deg);
            transform: translateX(40%) translateY(-30%) rotate(7.16deg);
            // border: 2px solid black; /* 2px solid black border */
            // margin-right: -11%;
            transition: transform 0.5s ease;
        }
        .middlePolaroid {
            width: 21vw;
            max-width: 570px; 
            height: auto; 
            z-index: 1;
            transform: translateX(-40%) translateY(-30%) rotate(-5.16deg);
            // margin-right: 50%;
            margin-top: -80%;
            // border: 2px solid black; /* 2px solid black border */
            transition: transform 0.5s ease;
        }
        .frontPolaroid {
            width: 21vw;
            max-width: 570px; 
            height: auto; 
            z-index: 2;
            margin-top: -80%;
            // border: 2px solid black; /* 2px solid black border */
            transition: transform 0.5s ease;
            transform: translateY(30%);
        }

        .backPolaroidStacked {
            width: 21vw; 
            max-width: 570px;
            height: auto; 
            z-index: 0;
            // transform: rotate(7.1deg);
            // border: 2px solid black; /* 2px solid black border */
            // margin-right: -11%;
            transition: transform 0.5s ease;
            margin-bottom: -80%;

        }
        .middlePolaroidStacked  {
            width: 21vw;
            max-width: 570px; 
            height: auto; 
            z-index: 1;
            // transform: rotate(-5.16deg);
            // margin-right: 50%;
            margin-bottom: -80%;
            // border: 2px solid black; /* 2px solid black border */
            transition: transform 0.5s ease;
        }
        .frontPolaroidStacked  {
            width: 21vw;
            max-width: 570px; 
            height: auto; 
            z-index: 2;
            //margin-top: 10%;
            // border: 2px solid black; /* 2px solid black border */
            transition: transform 0.5s ease;
            //margin-top: 10%;

        }
    }

}

@media screen and (min-width: 1920px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        //padding-left: 30%;
        padding-bottom: 10%;

        .allPolaroids {
            padding-top: 30%;
            .backPolaroid {
                width: 27.5vw; 
                max-width: 570px;
                height: auto; 
                z-index: 0;
                // transform: rotate(7.1deg);
                transform: translateX(40%) translateY(-30%) rotate(7.16deg);
                // border: 2px solid black; /* 2px solid black border */
                // margin-right: -11%;
                transition: transform 0.5s ease;
            }
            .middlePolaroid {
                width: 27.5vw;
                max-width: 570px; 
                height: auto; 
                z-index: 1;
                transform: translateX(-40%) translateY(-30%) rotate(-5.16deg);
                // margin-right: 50%;
                margin-top: -80%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
            }
            .frontPolaroid {
                width: 27.5vw;
                max-width: 570px; 
                height: auto; 
                z-index: 2;
                margin-top: -80%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
                transform: translateY(30%);
            }
    
            .backPolaroidStacked {
                width: 27.5vw; 
                max-width: 570px;
                height: auto; 
                z-index: 0;
                // transform: rotate(7.1deg);
                // border: 2px solid black; /* 2px solid black border */
                // margin-right: -11%;
                transition: transform 0.5s ease;
            }
            .middlePolaroidStacked  {
                width: 27.5vw;
                max-width: 570px; 
                height: auto; 
                z-index: 1;
                // transform: rotate(-5.16deg);
                // margin-right: 50%;
                margin-top: -5%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
            }
            .frontPolaroidStacked  {
                width: 27.5vw;
                max-width: 570px; 
                height: auto; 
                z-index: 2;
                margin-top: -5%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .allPolaroids {

            .backPolaroid {
                width: 50vw; 
                max-width: 570px;
                height: auto; 
                z-index: 0;
                // transform: rotate(7.1deg);
                transform: translateX(40%) translateY(-30%) rotate(7.16deg);
                // border: 2px solid black; /* 2px solid black border */
                // margin-right: -11%;
                transition: transform 0.5s ease;
            }
            .middlePolaroid {
                width: 50vw;
                max-width: 570px; 
                height: auto; 
                z-index: 1;
                transform: translateX(-40%) translateY(-30%) rotate(-5.16deg);
                // margin-right: 50%;
                margin-top: -80%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
            }
            .frontPolaroid {
                width: 50vw;
                max-width: 570px; 
                height: auto; 
                z-index: 2;
                margin-top: -80%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
                transform: translateY(30%);
                margin-bottom: 40%;
            }
    
            .backPolaroidStacked {
                width: 50vw; 
                max-width: 570px;
                height: auto; 
                z-index: 0;
                // transform: rotate(7.1deg);
                // border: 2px solid black; /* 2px solid black border */
                margin-top: -40%;
                transition: transform 0.5s ease;
            }
            .middlePolaroidStacked  {
                width: 50vw;
                max-width: 570px; 
                height: auto; 
                z-index: 1;
                // transform: rotate(-5.16deg);
                // margin-right: 50%;
                margin-top: -3%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;
            }
            .frontPolaroidStacked  {
                width: 50vw;
                max-width: 570px; 
                height: auto; 
                z-index: 2;
                margin-top: -3%;
                // border: 2px solid black; /* 2px solid black border */
                transition: transform 0.5s ease;

            }
        }
    }
}