@use 'app/(pages)/_globals/mixins';

.container {
  border-radius: 10px;
  background: #FFF;
  padding: 24px;

  @include mixins.tablet {
    padding: 12px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.imageBackground {
  min-height: 200px;
  aspect-ratio: 1;
  margin-right: 24px;
  border-radius: 10px;
  background: rgba(158, 231, 229, 0.25);

  @include mixins.tablet {
    min-height: 100px
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.header {
  color: #123041;
  font-size: 21.837px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 27.296px */
  margin-bottom: 16px;

  @include mixins.tablet {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.prizes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.place {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  @include mixins.tablet {
    gap: 8px;
  }
}

.placeText {
  display: flex;
  color: #015270;
  font-size: 16.986px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 21.233px */

  @include mixins.tablet {
    font-size: 10px;
  }
}

.trophy {
  width: 24.266px;
  height: 24.266px;

  @include mixins.tablet {
    width: 14.266px;
    height: 14.266px;
  }
}

.eligibility {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: clamp(8px, 16px, 16px);
}

.eligibilityText {
  color: var(--teal-3, #123041);
  font-size: 13.346px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 16.683px */
  letter-spacing: 1.335px;

  @include mixins.tablet {
    font-size: 9px;
    letter-spacing: 0.9px;
  }
}

.plus {
  width: 14px;
  height: 14px;

  @include mixins.tablet {
    width: 9px;
    height: 9px;
  }
}