@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



$bg-color: #123041;

.ourTeam{
    display: flex;
    flex-direction: column;
    height: 1204px;
    background-color: $bg-color;

}

.container{
    display: flex;
    padding-top: 4rem;
    padding-left: 4rem;
    flex-direction: column;
    background-color: $bg-color;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
    
    h1{
        color: #F4F4F4;
        font-family: "Proxima Nova", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
    }

    p{
        color: #F4F4F4;
        text-shadow: 0px 4px 50px rgba(47, 172, 184, 0.15);
        font-family: "Proxima Nova", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
        letter-spacing: 0.48px;
    }
}

.team{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
}