$bg-color: #123041;

.ourTeam{
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
    align-items: center;

    &_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-width: 1440px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 10%;
        padding-right: 10%;
    
        // border: 1px solid black;

        &_title{
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 48px;
            
            h1{
                color: #F4F4F4;
                font-family: "Proxima Nova", sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.96px;
            }
        
            p{
                color: #F4F4F4;
                text-shadow: 0px 4px 50px rgba(47, 172, 184, 0.15);
                font-family: "Proxima Nova", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 36px */
                letter-spacing: 0.48px;
            }
        }

        &_filterButtons{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            margin-bottom: 48px;
            // border: 1px solid black;

            &_button{
                display: flex;
                flex-direction: row;
                height: 48px;
                padding: 12px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                background: rgba(158, 231, 229, 0.25);
                cursor: pointer;

                p{
                    color: #9EE7E5;
                    text-align: center;
                    font-family: "Proxima Nova";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.36px;
                }

                &.active{
                    display: flex;
                    flex-direction: row;
                    height: 48px;
                    padding: 12px 24px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 100px;
                    background: #9EE7E5;

                    p{
                        color: #173A52;
                        text-align: center;
                        font-family: "Proxima Nova";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.36px;
                    }
                }
            }

      
            
        }

        &_team{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            gap: 48.5px;
            // border: 1px solid red;
        }
    }

}

