@use 'app/(pages)/_globals/mixins';

$bg-color: #7ACCDA;

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background-color: linear-gradient(to right, #4DB7D9, $bg-color);
    background-color: $bg-color;
    border: 3px solid black;

    height: 500px;
    width: 100%;
}

.clouds{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // margin-top: 10%;


    > div{
        position: unset !important;
    }

    &_image{
        object-fit: contain;
        width: 100%;
        position: relative;
        height: unset !important;
    }
}
