@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.container {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #173A52;
    height: 458px;
    .duckWithBunny {
        position: absolute;
        top: 283px; /* Adjust the top distance */
        left: 12vw; /* Adjust the left distance */

        .bunny {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        .duck {
            position: absolute;
            top: -25px;
            left: 47px;
            z-index: 1;
        }
    }

    .frog {
        position: absolute;
        top: 25px;
        right: 8vw;
        animation: moveUpDown 12s infinite alternate ease-out;
        z-index: 0;
    }
    
    @keyframes moveUpDown {
        0%, 100% {
          top: 0px;
        }
        50% {
          top: 80px; /* Adjust the distance you want the image to move up and down */
        }
    }

    .textContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        width: 766px;

        .text {
            color: #F4F4F4;
            font-family: "Proxima Nova";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.96px;
            z-index: 1;

        }
        .socialGood {
            text-align: center;
            -webkit-text-stroke-width: 0.5;
            -webkit-text-stroke-color: #000;
            font-family: "Proxima Nova";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.96px;

            background: var(--gradient, linear-gradient(284deg, #FCFCD1 9.72%, #B2E7DD 44.61%, #76D6E6 79.5%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .registerNow {
        // button background styling
        display: flex;
        width: 342px;
        height: 48px;
        padding: 12px 66px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        background: #FFC53D;
        border-width: 0px;
        z-index: 1;

        // button text styling
        color: #123041;
        text-align: center;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.36px;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        height: 574px;
        width:100vw;

        .duckWithBunny {
            position: absolute;
            top: 480px; /* Adjust the top distance */
            left: 33px; /* Adjust the left distance */
    
            .bunny {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 117px;
                height: 135px;
                clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 70%); 
            }
            .duck {
                position: absolute;
                top: -19px;
                left: 36px;
                z-index: 1;
                width: 45px;
                height: 45px;
            }
        }

        .frog {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 127px;
            height: 207px;
            transform: rotate(-15deg);
        }

        .textContent {    
            .text {
                width: 311px;
            }
            .socialGood {
                background: linear-gradient(270deg, #2CD0EF 0%, #9EE7E5 48.44%, #BEEBE7 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .registerNow {
            width: 311px;
        }
    }
  }