@use 'app/(pages)/_globals/mixins';
$bg-color: #015270;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 505px;

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $bg-color;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden; 

}

.stats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }

  &_inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile-breakpoint) {
      flex-direction: row;
      width: 100%;
      gap: 18px; 
    }

    h1{
      color: #FFF;
      font-family: "Metropolis", sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 120px */
      letter-spacing: 1.6px;
      text-transform: lowercase;

      @media (max-width: $tablet-breakpoint) {
        font-size: 40px;
      }
      @media (max-width: $mobile-breakpoint) {
        font-size: 48px;
      }
    }
    p{
      color: #FFF;
      font-family: "Metropolis", sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 42px */
      letter-spacing: 0.56px;
      text-transform: lowercase;
      text-align: center;

      @media (max-width: $tablet-breakpoint) {
        font-size: 14px;
      }
      @media (max-width: $mobile-breakpoint) {
        font-size: 30px;
      }
    }
  }

}
.button_container{
  padding: 10%; 
}
.button{
  display: flex;
  width: 311px;
  height: 60px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 0px solid #497F5D;
  background: var(--ducky, #FFC53D);
  backdrop-filter: blur(2px);

  @media (max-width: $tablet-breakpoint) {
    height: 48px;
  }

  span{
    color: var(--teal-2, #173A52);
    text-align: center;
    font-family: "Metropolis", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;

    @media (max-width: $tablet-breakpoint) {
      font-size: 14px;
    }
    @media (max-width: $mobile-breakpoint) {
      font-size: 18px;
    }
  }

}