$mobile-breakpoint: 648px;
$tablet-breakpoint: 1007px;

.background{
  display: flex;
  background-color: transparent;
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 25vw;
  gap: 1.2vw;
  // border: 1px solid red;
}

.title{
// border: 1px solid red;
  display: flex;
  flex-direction: column;

  &_ready{
    font-weight: 800;
    color: var(--teal-2, #173A52);
    font-family: "Proxima Nova", sans-serif;
    font-size: 2vw;
    font-style: normal;
    line-height: 103%; /* 49.44px */
    text-align: start;
    letter-spacing: 0.96px;
  }
  &_social{
    font-weight: 800;
    font-size: 3.5vw;
    letter-spacing: 1.4px;
    color: var(--teal-2, #173A52);
    font-family: "Proxima Nova", sans-serif;
    font-style: normal;
    line-height: 103%; /* 49.44px */
    letter-spacing: 0.96px;
  }


}

.calendar{
display: flex;
flex-direction: column;

  &_inner{
    display: flex;
    flex-direction: column;

    &_upper{
      color: var(--teal-2, #173A52);
      font-family: "Proxima Nova", sans-serif;
      font-size: 1.5vw;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 48px */
      letter-spacing: 0.64px;

      &_hackdavis{
        color: var(--teal-2, #173A52);
        font-family: "Proxima Nova", sans-serif;
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.64px;
      }
    }

    &_lower{
      display: flex;
      align-items: center;
      gap: 0.25vw;

      &_text{
        color: var(--teal-2, #173A52);
        font-family: "Proxima Nova", sans-serif;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        letter-spacing: 0.48px;
      }
      &_icon{
        width: 1.25vw;
        height: 1.25vw;
        margin-bottom: 1px;
      }
    }
  }

}

.buttons{
display: flex;
flex-direction: column;
width: 100%;
gap: 16px;
// border: 1px solid blue;


  &:hover{
    cursor: pointer;
  }

  &_register{
    display: flex;
    width: 70%;
    // height: 3.25vw;
    height: 48px;
    padding: 0.75vw 1.3vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    
    border-radius: 100px;
    background: var(--teal-2, #173A52);
    transition: background-color 0.2s ease;
    
    p{
      color: var(--white, #FFF);
      text-align: center;
      font-family: "Proxima Nova", sans-serif;
      font-size: 1vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.48px;
      text-transform: capitalize;
    }
    &:hover{
      background: var(--teal-1, #005271);
    }

  }
  &_sponsor{
    display: flex;
    width: 70%;
    // height: 3.25vw;
    height: 48px;
    padding: 0.75vw 1.3vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 100px;
    border: 0px solid #497F5D;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
    transition: background-color 0.2s ease;
    opacity: 0.75;

    &:hover{
      // background: rgba(234, 224, 224, 0.75);
      opacity: 1;
    }

    p{
      color: var(--teal-2, #173A52);
      text-align: center;
      font-family: "Proxima Nova", sans-serif;
      font-size: 1vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.48px;
    }
  }
  &_userType{
    display: flex;
    justify-content: center;
    // border: 1px solid black;
    width: 70%;
    gap: 1.5vw;

    span{
      color: var(--teal-1, #005271);
      text-align: center;
      font-family: "Proxima Nova", sans-serif;
      font-size: 1vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-variant: all-small-caps;
      letter-spacing: 0.48px;
      text-decoration-line: underline;
    }


  }
}
@media (max-width: $tablet-breakpoint) {
  .container{
    width: 251.75px;
    gap: 12.08px;
  }
  .title{
    &_ready{
      font-size: 20.14px;
    }
    &_social{
      font-size: 35.7px;
    }
  }
  .calendar{
    &_inner{
      &_upper{
        font-size: 15.1px;
        &_hackdavis{
          font-size: 15.1px;
        }
      }
      &_lower{
        display: flex;

        &_text{
          font-size: 15.1px;
        }
        &_icon{
          width: 15.1px;
          height: 15.1px;
        }
      }
    }
  }
  .buttons{
    &_register{
      height: 48px; 
      padding: 7.75px 13.0px;
      p{
        font-size: 10.2px;
      }
    }
    &_sponsor{
      height: 48px;
      padding: 7.75px 13.0px;
      p{
        font-size: 10.2px;
      }
    }
    &_userType{
      gap: 12.08px;
      span{
        font-size: 10.2px;
      }
    }
  }
}


@media (max-width: $mobile-breakpoint) {
  .background{
    width: 100vw;
    // border: 1px solid black;
  }
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .buttons{
    justify-content: center;
    align-items: center;
  }
  .title{
    &_ready{
      color: var(--teal-2, #173A52);
      text-align: center;
      font-family: "Proxima Nova";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 115%; /* 36.8px */
      letter-spacing: 0.64px;
    }
    &_social{
      color: var(--teal-2, #173A52);
      font-family: "Proxima Nova";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 115%;
      letter-spacing: 0.96px;
    }
  }
  .calendar{
    &_inner{
      &_upper{
        font-size: 24px;
        &_hackdavis{
          font-size: 24px;
        }
      }
      &_lower{
        display: flex;
        justify-content: center;
        &_text{
          font-size: 18px;
        }
        &_icon{
          width: 18px;
          height: 18px;
          margin-bottom: 2px;
        }
      }
    }
  }
  .buttons{
    &_register{
      height: 48px; 
      padding: 7.75px 13.0px;
      p{
        font-size: 18px;
      }
    }
    &_sponsor{
      height: 48px;
      padding: 7.75px 13.0px;
      p{
        font-size: 18px;
      }
    }
    &_userType{
      gap: 12.08px;
      span{
        font-size: 18px;
      }
    }
  }

}